*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fdf6f0;
  --secondary-color: #f5c6aa;
  --font-color: rgb(250, 18, 18);
}
body {
  text-align: center;
  background-color: var(--bg-color);
  text-transform: capitalize;
  font-size: 1.2rem;
}
button {
  outline: none;
  border: none;
}
.main-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 0.6rem;
}
.privacy-notice {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  color: var(--font-color);
  box-shadow: 0 2px 10px 2px var(--secondary-color);
  padding: 10px;
  gap: 12px;
}
.close-btn {
  background-color: none;
}
.gift-img {
  width: 40vw;
}
.heading {
  color: var(--font-color);
  font-size: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--secondary-color);
}
.submit-btn {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border: 2px solid var(--secondary-color);
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 10px;
}
footer a {
  margin: 4px;
}
@media screen and (min-width: 850px) {
  .main-app {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6rem;
  }
  .gift-img {
    width: 20vw;
  }
  footer {
    position: fixed;
    font-size: 1.5rem;
  }
}
